<nav class="sidenav-content" [class.collapsed]="collapsed()">
  @for (item of navigationItems(); track item.route) {
    @if (!collapsed()) {
      <button
        mat-button
        class="nav-button"
        [routerLink]="item.route"
        routerLinkActive="active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    } @else {
      <button
        mat-icon-button
        class="nav-button-icon"
        [routerLink]="item.route"
        routerLinkActive="active"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    }
  }
  <div class="version-display">
    {{ version() }}
  </div>
</nav>
