@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

// Include the common Material 3 styles for the entire app
@include mat.core();

// Use Angular Material's orange palette
html {
  @include mat.theme((
    color: mat.$orange-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  // Allow ThemeService to control color-scheme on <html>
  color-scheme: inherit;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

:root {
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
  scrollbar-width: thin;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mat-sys-outline-variant) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline-variant);
  border-radius: 2px;
}
